0 4 * * *  mail -s 'USP project daily stats' tanjakeselj@gmail.com </home/usp/public_html/records.csv
0 4 * * *  mail -s 'USP project daily stats' andrewziac91@gmail.com </home/usp/public_html/records.csv
0 4 * * *  mail -s 'USP project daily stats' bradcovey@gmail.com </home/usp/public_html/records.csv
0 4 * * *  mail -s 'USP project daily stats' maha.m.dh.j@gmail.com </home/usp/public_html/records.csv
0 4 * * *  mail -s 'USP project daily stats' hosha4114@gmail.com </home/usp/public_html/records.csv

